.advertise {
    position: absolute;
    top: 120px; /* 50px for Header height + 10px for additional space */
    right: 10px;
    width: 150px;
    height: 400px;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .advertise-content {
    color: white;
    text-align: center;
  }
  
  .advertise-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .advertise-image {
    width: 10px;
    height: auto;
    margin: 10px auto;
    display: block;
  }
  
  .get-started-button {
    background-color: rgb(66, 23, 219);
    color: #007bff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  