.crypto-details-container {
    width: 100%;
  }
  
  .crypto-details-navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .crypto-details-navbar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
  }
  
  .crypto-details-navbar button.active {
    font-weight: bold;
    color: #007bff;
  }
  
  .crypto-details-content {
    padding: 20px 0;
  }
  
  .tab-content {
    display: block;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  