.insights-container {
    margin-top: 20px;
  }
  
  .insights-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .cryptocurrency-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .crypto-item {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .crypto-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .crypto-details {
    text-align: center;
  }
  
  .crypto-name {
    font-weight: bold;
  }
  
  .crypto-price {
    color: #007bff;
  }
  