.overview-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .performance, .fundamentals {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .performance h2, .fundamentals h2 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .performance p, .fundamentals p {
    margin: 5px 0;
  }
  
  .fundamentals p strong {
    margin-right: 10px;
  }
  
  /* Horizontal Bar Chart */
  .bar-chart {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .bar {
    height: 10px;
    margin-right: 5px;
  }
  
  .orange-bar {
    background-color: orange;
  }
  
  .green-bar {
    background-color: green;
  }
  
  .yellow-bar {
    background-color: yellow;
  }
  .performance {
    margin-bottom: 20px;
  }
  
  .volume-bars {
    display: flex;
    margin-top: 10px;
  }
  
  .volume-bar {
    height: 20px;
    background-color: #ccc;
    margin-right: 5px;
    position: relative;
  }
  
  .volume-bar.today {
    background-color: #ffadad; /* Today's low to high */
  }
  
  .volume-bar.year {
    background-color: #ffd6a5; /* 52W low to high */
  }
  
  .fundamentals {
    margin-top: 20px;
  }
  
  .fundamentals p {
    margin: 5px 0;
  }
  
  .fundamentals strong {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .fundamentals div {
    display: flex;
    flex-wrap: wrap;
  }
  
  .fundamentals div p {
    flex: 1 0 50%;
  }
  
  @media (max-width: 768px) {
    .fundamentals div p {
      flex: 1 0 100%;
    }
  }
  
  .valuesA{
    text-align: right;
  }