.team-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .team-member {
    background-color: #e6f7ff;
    padding: 20px;
    width: 300px; /* Adjust the width as needed */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Add margin between team members */
  }
  
  .team-member img {
    width: 150px; /* Adjust the image width as needed */
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .team-member-details {
    text-align: center;
  }
  
  .team-member-name {
    font-weight: bold;
    font-size: 18px;
  }
  
  .team-member-role {
    color: #007bff;
    margin-bottom: 5px;
  }
  
  .team-member-description {
    color: #333;
  }
  