.technical-container {
    margin-top: 20px;
  }
  
  .technical-section {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .technical-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .technical-description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .holding-section {
    margin-top: 30px;
  }
  
  .holding-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .holding-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .holding-images img {
    width: 25%;
    height: 25%;
    border-radius: 5px;
  }
  
  .holding-description {
    font-size: 16px;
    line-height: 1.6;
  }
  