.tokenomics-container {
  margin-top: 20px;
}

.tokenomics-section {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tokenomics-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tokenomics-circle {
  display: inline-block;
  position: relative;
}

.tokenomics-circle svg {
  width: 200px;
  height: 200px;
  transform: rotate(-90deg);
}

.tokenomics-distribution {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tokenomics-distribution-item {
  display: flex;
  align-items: center;
}

.tokenomics-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.tokenomics-blue {
  background-color: #007bff;
}

.tokenomics-yellow {
  background-color: yellow;
}

.tokenomics-description {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
}
