body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

.get-started-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  /* Remove grid layout styles */
}

.section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add margin between sections */
}

.section h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.info-item {
  margin-bottom: 20px;
}

.info-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.info-item p {
  line-height: 1.5;
}

.sentiment-section p {
  line-height: 1.5;
}

.green-box {
  color: #008000;
  background-color: rgba(0, 128, 0, 0.1);
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

.red-box {
  color: #ff0000;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

