/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

.get-started-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.bitcoin-chart {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.crypto-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.crypto-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.crypto-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.crypto-info li {
  padding: 5px 0;
}

.crypto-info li span {
  font-weight: bold;
  margin-right: 5px;
}

.sentiment-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sentiment-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sentiment-section p {
  line-height: 1.5;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    display: block;
    margin-bottom: 10px;
  }
}
